@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.content {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
  }


:root {
    --primary-hue: 2;
    --primary-saturation: 98%;
    --primary-lightness: 41.8%;
}
