name: acceptance

on:
  pull_request:
    types: [ opened, synchronize, ready_for_review ]

permissions:
  id-token: write
  contents: read
  pull-requests: write

concurrency:
  group: single-acceptance-job-per-repo

jobs:
  integration:
    if: github.event_name == 'pull_request' && github.event.pull_request.draft == false
    environment: account-admin
    runs-on: larger
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          cache: 'pip'
          cache-dependency-path: '**/pyproject.toml'
          python-version: '3.10'

      - name: Install hatch
        run: pip install hatch==1.9.4

      - name: Run integration tests
        uses: databrickslabs/sandbox/acceptance@acceptance/v0.2.1
        with:
          vault_uri: ${{ secrets.VAULT_URI }}
          timeout: 45m
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
