name: nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'

permissions:
  id-token: write
  issues: write
  contents: read
  pull-requests: read

concurrency:
  group: single-acceptance-job-per-repo

jobs:
  integration:
    environment: account-admin
    runs-on: larger
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          cache: 'pip'
          cache-dependency-path: '**/pyproject.toml'
          python-version: '3.10'

      - name: Install hatch
        run: pip install hatch==1.9.4

      - name: Run nightly tests
        uses: databrickslabs/sandbox/acceptance@acceptance/v0.2.2
        with:
          vault_uri: ${{ secrets.VAULT_URI }}
          timeout: 55m
          create_issues: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          TEST_NIGHTLY: true
